@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: black;
  max-width: 1180px;
  margin: auto;
  background-image: url(../public/images/hero-dark@90.dba36cdf.jpg);
  
}


